<!doctype html>
<html>
<head>
    <title>Start game</title>
    <style>
        body{
            background: #71a7ff;
        }
    </style>
</head>
<body>

<a href="/game">Start game</a>

</body>
</html>